<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="icon" href="assets/icons/favicon.png"  type="image/png">
    <link rel="stylesheet" href="./assets/css/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bièrédex</title>
</head>
<body>
    <center><h1>Bièrédex</h1></center>
    <h2>Constituez un Bièrédex et discutez-en avec vos amis sur le chat</h2>
    <div class="row">
        <div class="column">
            <p>
                <input type="text" placeholder="Trouver une bière" name="searchbar" id="searchbar">
                <input type="button" value="Chercher" id="butSearch">
            </p>
            <p>
                <table>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Degré d'alcool</th>
                        <th scope="col">Brasserie</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                </table>
            </p>
        </div>
        <div id="app" class="column">
            <div v-if="state == 0">
                <h3>Connection</h3>
                <form @submit.prevent="setUsername">
                    <input type="text" placeholder="Username" v-model:value="username" />
                    <input type="submit" value="Connection" />
                </form>
            </div>
            <div v-if="state == 1">
                <ul id="chatbox">
                    <li v-for="message in messages">
                        {{ message.user }} : {{ message.message }}
                    </li>
                </ul>
                <form @submit.prevent="sendMessage">
                    <input type="text" v-model:value="message" />
                    <input type="submit" value="Send" />
                </form>
            </div>
        </div>
      </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="assets/js/home.js"></script>


<!-- BJF <script type="module" src="../index.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</html>